apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: tailscale

# Helm chart for the Tailscale operator
# The values-secret.yaml file will be auto-decrypted by KSOPS before Helm runs
helmCharts:
  - name: tailscale-operator
    repo: https://pkgs.tailscale.com/helmcharts
    version: v1.68.1
    releaseName: tailscale-operator
    valuesFile: values-secret.yaml
