apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: tailscale

# Include the SOPS-encrypted OAuth secret
resources:
  - tailscale-oauth-secret.yaml

# Helm chart for the Tailscale operator
# OAuth credentials will be read from the secret
helmCharts:
  - name: tailscale-operator
    repo: https://pkgs.tailscale.com/helmcharts
    version: v1.68.1
    releaseName: tailscale-operator
    valuesInline:
      oauth:
        # These will be filled in from the secret created above
        clientSecret: injected-by-kustomize
