apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: authentik-postgres-secret
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/berleon/enty-ai-internal-infrastructure.git
    targetRevision: main
    path: argocd/apps/authentik/secrets/postgres
  destination:
    server: https://kubernetes.default.svc
    namespace: authentik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
